# Python / Compiled / Optimized
*.py[cod]

# C extensions
*.so

*.db

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# Toontown Infinite Resources
*.txt
phase_3/maps/tt_t_gui_pat_background.psd
tt_t_gui_pat_background.jpg
tt_t_gui_pat_background.psd
